{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}

{# {% for article in article %} #}
<h1>{{ article.title }} </h1>
<p>{{ article.description }} </p>

{% endfor %}


{% endblock %}
